.btn {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    padding: 0.2rem 1rem;
    width: auto;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn:focus {
    outline: 2px solid var(--font);
    border-radius: 0.2rem;
    outline-offset: 2px;
}

.border {
    margin-top: 2rem;
}

.info {
    font-weight: 600;
}

p span {
    font-weight: 200;
}

@media only screen and (min-width: 768px) {
    .info {
        display: flex;
        justify-content: space-between;
    }
}
