:root {
    /* Dark Mode Elements */
    --clr-blue: hsl(209, 23%, 22%);
    /* Dark Mode Background */
    --clr-dark-blue: hsl(207, 26%, 17%);
    /* Light Mode Text */
    --clr-very-dark-blue: hsl(200, 15%, 8%);
    /* Light Mode Input */
    --clr-dark-gray: hsl(0, 0%, 52%);
    /* Light Mode Background */
    --clr-very-light-gray: hsl(0, 0%, 98%);
    /* Dark Mode Text & Light Mode Elements */
    --clr-white: hsl(0, 0%, 100%);
}

body {
    font-family: "Nunito Sans", sans-serif;
}
